body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-position: center; 
}

header{
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
}

.topTweets{
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.positive{
    background-color: green;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    padding: 1em;
}

.negative{
    background-color: red;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    padding: 1em;
}

.avatar{
    border-radius: 50%;
}

.feed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 30vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1em;
}

.tweet{
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    border-radius: 10px;
    padding: .5em;
    margin-bottom: 1em;
    animation: expand .2s ease-in-out;
}

.oldTweet{
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
    border-radius: 10px;
    padding: .5em;
    margin-bottom: 1em;
}

.sentimentForm{
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

.hide{
    display: none;
}

@keyframes expand {
    from {
      transform: scale(0);
      opacity: 0;
    }
}

.topTweetWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.liked{
    min-width: 45vw;
}

.disliked{
    min-width: 45vw;
}

.yourLiked{
    transform: scale(0.2);
}

.likedBox{
    width: 100vw;
    background-color: black;
}

/* .feedText{
    flexp
} */
