<% include ../partials/head %>
    <form id="nameForm" action="">
        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" id="nickname">
        <input type="submit" value="Submit">
    </form>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>
<% include ../partials/foot %>