<% include ../partials/head %>
<% include ../partials/header %>
<section class="topTweets">
    <div class="positive topTweet">
        <h2>Most Positive Tweet</h2>
        <div class="tweet">
            <h3></h3>
            <p></p>
        </div>
    </div>
    <div class="negative topTweet">
        <h2>Most Negative Tweet</h2>
        <div class="tweet">
            <h3></h3>
            <p></p>
        </div>
    </div>
</section>
<section class="feed">

</section>
<% include ../partials/foot %>